/* Three image containers (use 25% for four, and 50% for two, etc) */
@media (min-width: 1024px) {
.column {
    float: left;
    width: 33.33%;
    }}
    
/* Clear floats after image containers */
.row::after {
content: "";
clear: both;
display: table;
}

      
#container {
    position: relative;
    text-align: center;
    color: white;
    width: fit-content;
}

#number_of_tickets_label {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

textarea {
    opacity: 0.3;
    color: white;
    background-color: darkblue;
}