<html>
    <head>
        <meta charset="UTF-8">
        <title>Sticker Tracker</title>
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style/all_pages.css') }}" />
    </head>
    <body>
        <center>
            <button onclick="window.location.href='/'">home</button>
            <h1>So How Stickers Work Anyway?</h1>    
        </center>
            <ol>
                <li>Before the match starts, choose ten sticker sheets. </li>
                <li>Before the game starts, three sticker sheets are randomly chosen from the ten sheets. </li>
                <li>Every time a card instructs you to get tickets, click on the + above the Ticket Bucket-Bot</li>
                <li>Each sticker you can afford is automaticly highlighted by green. Otherwise it's red.</li>
                <li>To buy a sticker, just click on it. Remamber - names and arts are always free!</li>
                <li>Then, a text box would pop up. Write which of your card is now "stickered". No glue necessary!</li>
                <li>When a stickered card goes to a hidden zone (hand, deck, etc), click on the "x" button and the sticker would be back on the sheet.</li>
            </ol>
            <center>
                <h1>Resources</h1>
            </center>
            <ol>
                <li><a href="https://magic.wizards.com/en/articles/archive/feature/unfinity-mechanics-2022-09-20">The offical MTG site</a></li>
                <li><a href="https://mtg.fandom.com/wiki/Sticker">MTG Wiki</a></li>
                <li><a href="https://draftsim.com/mtg-sticker-and-ticket-cards">Draftsim</a></li>
                <li><a href="https://www.youtube.com/watch?v=9WUlXV6p6E0">Tezzey (A short YouTube video)</a></li>
            </ol>

    </body>
</html>